[Unit]
Description=Check mini PC LAN IP every 5 minutes

[Timer]
OnBootSec=45s
OnUnitActiveSec=5min
AccuracySec=30s
Persistent=true
Unit=ip-watch.service

[Install]
WantedBy=timers.target
